{% extends "login_base.html" %}

{%block title%}Appointment History{%endblock title%}

{%block body%}

<div class="container my-4">

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h3 class="my-3 pb-2 mb-0">Appointment History</h3>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>Appointment Date</th>
                    <th>Appointment With</th>
                    <th>Doctor's Expertise</th>
                    <th>Appointment Status</th>
                </tr>
            </thead>
            <tbody>
                {% for app in appointment reversed%}
                <tr>
                    <td class="text-capitalize text-dark">Dr. {{ app.doctor.first_name }} {{ app.doctor.last_name }}</td>
                    <td>{{ app.appointmentDate.date }}</td>
                    <td>{{ app.doctor.expertise }}</td>
                    <td class="{% if app.status == 'Pending' %}text-danger{% else %}text-success{% endif %}">
                        <b>{{ app.status }}</b>
                    </td>                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{%endblock body%}