{% extends "login_base.html" %}

{%block title%}Appointment{%endblock title%}

{%block body%}

<div class="container">
    <h1 class="my-3 text-dark py-3">Make an appointment</h1>
    <hr>
    <p><i>
        Please schedule an appointment with the doctor based on your requirements and preferences. 
        Additionally, feel free to review the profiles of the available doctors before finalizing your appointment. 
        Once you've chosen a doctor, you can proceed to schedule your appointment and send them a message if needed.
    </i></p>
    <div class="row my-5">
        {% for doctor in doctors %}
        



        
        <div class="col-sm-6 my-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><b>
                            Dr. {{ doctor.first_name }} {{doctor.last_name}}
                        </b>
                    </h5>
    
                    <p class="card-text text-muted"><b>{{ doctor.specialization }}</b></p>
                    <hr>
                    <p><b>Hospital: </b>{{ doctor.hospital }}</p>
                    <hr>
                    <p><b>Location: </b>{{ doctor.city }}, {{ doctor.state }}, {{ doctor.country }}</p>
                    <hr>
                    <p><b>Experience: </b>{{ doctor.experience }}</p>

    
                    <button type="button" class="btn btn-info my-2 col-md-5" data-toggle="modal" data-target="#exampleModalLong{{ doctor.id }}">
                        About Doctor
                    </button>

                    <button type="button" class="btn btn-info my-2 col-md-5" data-toggle="modal" data-target="#appointment{{ doctor.id }}">
                        Make an Appointment
                    </button>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="appointment{{ doctor.id }}" tabindex="-1" role="dialog"
            aria-labelledby="appointment{{ doctor.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="appointment{{ doctor.id }}"><b>Make an appointment with <span class="text-info">Dr. {{ doctor.first_name }} {{doctor.last_name}}</span></b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/fix_appointment" method = "post">
                            {% csrf_token %}
                            <input type="hidden" name="doctor" value="{{ doctor.id }}">
                            <input type="hidden" name="status" value="Pending">
                            
                                <label for="phone"><b>Your Contact Number</b></label><br>
                                {{ form.phone }}

                                <br><label for="email"><b>Your Email ID</b></label><br>
                                {{ form.email }}
                        
                                <br><label for="appointmentDate"><b>Appointment Date (MM/DD/YYYY)</b></label><br>
                                {{ form.appointmentDate}}
                        
                                <br><label for="message"><b>Your Message for Doctor</b></label><br>
                                {{ form.message}}
                                <br>

                            <button type="submit" class="btn btn-info col-md-12">Submit</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger col-md-12" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong{{ doctor.id }}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle{{ doctor.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle{{ doctor.id }}"><b>Dr. {{ doctor.first_name }} {{doctor.last_name}}</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="/static/back.png" class="img-fluid" alt="">
                        <p class="my-3">{{ doctor.about }}</p>
                        <br>
                        <table class="table border-white">
                            <tr>
                                <th>Phone</td>
                                <td>{{ doctor.phone }}</td>
                            </tr>
                            <tr>
                                <th>Education</td>
                                <td>{{ doctor.education }}</td>
                            </tr>
                            <tr>
                                <th>Expertise</td>
                                <td>{{ doctor.expertise }}</td>
                            </tr>
                            <tr>
                                <th>Experience</td>
                                <td>{{ doctor.experience }}</td>
                            </tr>
                            <tr>
                                <th>Languages Known</td>
                                <td>{{ doctor.languages }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger col-md-12" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>

{%endblock body%}