{% extends "login_base.html" %}

{% block title %}Obesity Prediction{% endblock title %}

{% block body %}

<div class="container">
    
    {% if prediction_result %}
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-danger rounded box-shadow">
            <div class="lh-100 my-2">
                <h5 class="mb-0 text-white lh-100">Your prediction report: <b> {{ prediction_result }} </b></h5>
                <a href="/report" class="text-white my-2" style="color: white;"><b>Proceed to obtain report</b></a>
            </div>
        </div>
    {% endif %}
    
    <div class="jumbotron my-3 bg-light">
        <h1 class="display-4"><b>Obesity Prediction</b></h1>
        <hr class="my-4">
        <p class="text-weight-bolded">
            <i>
                Prevention efforts aimed at promoting healthy eating habits, 
                regular physical activity, and a supportive environment are 
                essential in addressing the obesity epidemic at a population level. 
            </i>
        </p>
    </div>

    <div>
        <form action="/obesity" method="post">
            {% csrf_token %}

            <div class="form-row my-2">
                <div class="col my-2">
                    <label><b>Age</b></label><br>
                    <p class="py-2 px-2 text-primary bg-white border rounded"><b>{{age}}</b></p>
                </div>
                <div class="col my-2">
                    <label><b>Weight</b></label>
                    <p class="py-2 px-2 text-primary bg-white border rounded"><b>{{ user_data.weight }} kg</b></p>
                </div>
                <div class="col my-2">
                    <label><b>Height</b></label>
                    <p class="py-2 px-2 text-primary bg-white border rounded"><b>{{ user_data.height }} cm</b></p>
                </div>
            </div>

            <div class="form-row my-2">
                <div class="col my-2">
                    <label><b>BMI</b></label><br>
                    <p class="py-2 px-2 text-primary bg-white border rounded"><b>{{ user_data.bmi }}</b></p>
                </div>
                <div class="col my-2">
                    <label><b>Gender</b></label>
                    <p class="py-2 px-2 text-primary bg-white border rounded"><b>{{ user_data.gender }}</b></p>
                </div>
                <div class="col-md-4 my-2">
                    <label><b>Activity Level</b></label><br>
                    {{ form.activityLevel }}
                </div>
            </div>

            <button type="submit" class="btn btn-primary col-md-12 my-5">Predict Obesity</button>
        </form>
    </div>

    <div class="text-muted text-center">
        <h4 style="margin-top: 0;">Model trained on Kaggle Dataset</h4>
        <p><a href="https://www.kaggle.com/datasets/mrsimple07/obesity-prediction">
            Obesity prediction
            </a> offers a valuable resource for researchers, data scientists, 
            and healthcare professionals interested in exploring the 
            complex interplay of factors contributing to obesity and developing 
            effective intervention strategies. </p>
    </div>

</div>

{% endblock body %}