{% extends "login_base.html" %}

{%block title%}User Dashboard{%endblock title%}

{%block body%}
<div class="container">
    {% if user_profile %}
    <div class="row bg-white my-5 mx-2 p-3 rounded">
        <div class="col-md-12 d-flex flex-column justify-content-center align-items-center">
            <img src="/static/profile.webp" height="80px" alt="profile" class="rounded-circle">
            <h5 class="text-center text-dark text-capitalize mb-3 my-3"><b>{{user_name}}</b></h5>
            <h6 class="text-muted"><b>Username: {{user_username}}</b></h6>
        </div>

        <div class="col-md-12 my-2">
            <div class="card-body">
                <h5 class="text-muted">Professional Information</h5>
                <hr>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <h6 class="text-info"><b>Profession</b></h6>
                        <p class="text-muted">{{ user_profile.profession }}</p>
                    </div>
                    <div class="col-md-6 mb-3">
                        <h6 class="text-info"><b>Date of Birth</b></h6>
                        <p class="text-muted">{{ user_profile.dob }}</p>
                    </div>
                </div>
        
                <h5 class="text-muted">Personal Information</h5>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <h6 class="text-info"><b>Gender</b></h6>
                        <p class="text-muted">{{ user_profile.gender }}</p>
                    </div>
                    <div class="col-md-3">
                        <h6 class="text-info"><b>Height</b></h6>
                        <p class="text-muted">{{ user_profile.height }}</p>
                    </div>
                    <div class="col-md-3">
                        <h6 class="text-info"><b>Weight</b></h6>
                        <p class="text-muted">{{ user_profile.weight }}</p>
                    </div>
                    <div class="col-md-3">
                        <h6 class="text-info"><b>BMI</b></h6>
                        <p class="text-muted">{{ user_profile.bmi }}</p>
                    </div>
                </div>
            </div>
        </div>
        

    </div>
    {% endif %}
</div>

{%endblock body%}